files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01-install-efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      yum update -y
      yum install -y amazon-efs-utils

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02-mount-efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EFS_ID="fs-0356b76b9f8cc35c7"  #  EFS ID
      MOUNT_POINT="/mnt/efs"
      
      # Crear directorio
      mkdir -p $MOUNT_POINT
      
      # Montar EFS
      mount -t efs $EFS_ID:/ $MOUNT_POINT
      
      # Agregar a fstab para montaje permanente
      echo "$EFS_ID:/ $MOUNT_POINT efs defaults,_netdev,tls" >> /etc/fstab
      
      # Crear subdirectorios
      mkdir -p $MOUNT_POINT/cache
      mkdir -p $MOUNT_POINT/temp  
      mkdir -p $MOUNT_POINT/logs
      
      # Dar permisos
      chown -R webapp:webapp $MOUNT_POINT
      chmod -R 755 $MOUNT_POINT

container_commands:
  01_mount_efs:
    command: "bash /opt/elasticbeanstalk/hooks/appdeploy/pre/01-install-efs.sh"
  02_setup_efs:
    command: "bash /opt/elasticbeanstalk/hooks/appdeploy/pre/02-mount-efs.sh"